[Unit]
Description=GraphHopper OSM update
OnSuccess=gh-update-notify@success.service
OnFailure=gh-update-notify@failure.service

[Service]
Type=oneshot
User=freemap
WorkingDirectory=/opt/graphhopper
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
ExecStart=/usr/bin/stdbuf -oL -eL /opt/graphhopper/gh-update.sh
