[Unit]
Description=GraphHopper update abort notification

[Service]
Type=oneshot
User=freemap
WorkingDirectory=/opt/graphhopper
EnvironmentFile=/opt/graphhopper/gh-update.conf
ExecStart=/opt/graphhopper/gh-notify.sh --abrupt
